{
    "model_type": "bert",
    "model_name_or_path": "./pretrain_model/bert",
    "train_data_path": "data/cnews.train.txt",
    "eval_data_path": "data/cnews.val.txt",
    "output_dir": "trained_models/bert_model_base.pkl",
    "batch_size": 16,
    "num_epochs": 2,
    "learning_rate": 5e-6
}

% model_type: 指定训练的模型。
% model_name_or_path: 预训练模型的文件路径，一般在开源模型中直接下载。
% train_data_path: 训练数据集文件路径。
% eval_data_path: 评估数据集文件路径，执行完一个batch或以后，用该数据测试训练结果，体现模型的泛化能力。
% output_dir: 模型存放路径。
% batch_size: 值越大，数据集切分的份数越多，执行次数和时间越少。
% num_epochs: 一整份数据集的训练次数，一般bert取3,5,10，一般大模型设置会偏小，理想值为损失基本稳定不会改变了。
% learning_rate: 学习率，值越大对原始参数和梯度的影响越大，过大会导致模型坍塌，过小导致模型没法收练。
% 文件夹
% confid：配置参数。
% data：数据集。
% models：预训练好的模型。
% 文件
% dataset.py：数据预处理。